<%- include("base") %>



<section id="homesec">
    <div id="container">
        <p id="welcome">Welcome to BIG-Bank <br>
            
            <button id='submit'><a href="/view"> Transfer Now </a></button> 
            
        <p>
        

        
    </div>
    <div id="spark">
        <a href="https://www.thesparksfoundationsingapore.org/join-us/internship-positions/">Powered By : THE SPARK FOUNDATION</a>
    </div>
</section>
